/*  |Boje:
    |Narančasto-žuta: #ffc926
    |Bijela
    |Crna
*/  

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: black;
}

a {
    color:white;
}

.navbar {
    background-color: #ffc926;
}

.nav-item {
    padding: 2px;
    margin: 2px;
}

#bghome {
    background-image: url("../images/pizzabgfinal.jpg");
    height: 100%;
    background-blend-mode: color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcometext {
    font-size: 165%;
}

#reg {
    padding-top: 32px;
}

.textwhite {
    color: white;
}

.textyellow {
    color: #ffc926;
}

.form-error {
    color: red;
}

.btn-yellow {
    background-color: #ffc926;
}

.forma {
    flex: 0 0 360px;
    background-color: rgba(255, 255, 255, 0.3)
}

#navbarDropdown::after {
    display: none;
}

.card {
    min-width: 280px;
    width: 30%;
    background: none;
    border: 2px solid #ffc926;
}

.card-body, .card-footer, .card-img-top {
    border: 2px solid #ffc926;
}